@media screen and (max-width: 1023px) and (min-width: 426px) {
    .wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    .nav{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .nav_item-green{
        width: 100%;
        height: 30px;
        background: #B6D7A8;
        font-size: 110%;
    }

    .nav_item-yellow{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-item_item{
        width: 32.5%;
        background: #FEE59B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
    }

    .two-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main_item-green, .main_item-pink{
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .main_item-green{
        flex-wrap: wrap;
    }

    .item-green_green{
        width: 49%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }

    .main_item-pink{
        flex-wrap: wrap;
        justify-content: space-between;
    }



    .item-pink_pink{
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .item-green_green{
        background: #D9EAD2;
    }

    .item-pink_pink{
        background: #EBD1DC;
    }

    .p-main_item, .p-main_item-pink{
        font-size: 80%;
    }

    .p-main_item-pink{
        width: 90%;
    }


     h3{
        font-size: 80%;
    }

    .coral{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FCE5CC;
        height: 40px;
        margin-top: 20px;
    }

    .blue{
        width: 100%;
        height: 80px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .item_blue{
        width: 32.5%;
        height: 100%;
        background: #c9daf8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
        font-weight: 600;
    }

    .yellow{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFE59A;
        height: 40px;
        margin-top: 10px;
    }

}